<nav class="navbar bg-light fixed-top" style="height: 4rem;">
  <div class="container">
    <a href="#" class="rock-salt text-center text-dark text-decoration-none">
      Emmanuel Serna
    </a>
  </div>
</nav>
